<!DOCTYPE html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <script src="angular.min.js">    </script>
    <script src="app.js">    </script>
    <link rel="stylesheet" href="style.css">
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div class="container" ng-controller= 'LunchCheckController'>
     <h1>Lunch Checker</h1>

         <div class="form-group" >
            <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             ng-model="items"
             class="form-control"
             style="border-color: {{color}};">
            </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="countingItems();">
            Check If Too Much</button>
             (Note that an empty item, i.e. ", ," does NOT count!)

         </div>
         <div class="form-group message"  style="color: {{color}};">
           {{message}}
         </div>
   </div>

</body>
</html>
